Repository debionetwork/api-wrapper, pull requests merged in 2022-06, with the labels that each got.

#2 feat: axios base, gcs and bounty endpoint
  src/endpoint/bounty/index.ts
  src/endpoint/categories/emr.ts
  src/endpoint/categories/service.ts
  src/endpoint/cloud-storage/index.ts
  src/endpoint/index.ts
  src/models/bounty/data-bounty-info.ts
  src/models/bounty/index.ts
  tests/e2e/endpoint/bounty/data-bounty-mock.ts
  tests/e2e/endpoint/bounty/index.spec.ts
  tests/e2e/endpoint/cloud-storage/index.spec.ts
Labels: Feature

#6 tests: fix docker compose for e2e tests
  test/e2e/docker-compose.yml
Labels: bug

#4 tests: add integration test for categories
  src/endpoint/category.ts
  test/e2e/endpoint/category.spec.ts
  test/e2e/fixture.ts
  test/mocks/postgres/models/category/emr.entity.ts
  test/mocks/postgres/models/category/emr.mock.data.ts
  test/mocks/postgres/models/category/service.entity.ts
  test/mocks/postgres/models/category/service.mock.data.ts
  test/mocks/postgres/models/category/specialization.entity.ts
  test/mocks/postgres/models/category/specialization.mock.data.ts
Labels: Test

#5 test: e2e location
  package-lock.json
  package.json
  test/e2e/endpoint/location.spec.ts
  test/e2e/fixture.ts
Labels: Test

#7 tests: email and authentication e2e tests
  src/endpoint/authentication.ts
  test/e2e/docker-compose.yml
  test/e2e/endpoint/authentication-test.ts
  test/e2e/endpoint/email.spec.ts
Labels: Test
